
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 4rem;
    text-align: center;
}

#about {
    background-color: #fff;
    margin-bottom: 2rem;
}

#projects {
    background-color: #e28787;
    padding-bottom: 3rem;
}

.project-card {
    background-color: #fff;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills{
    margin: 1em;
}

#skills ul{
    
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
      
}

#contact {
    background-color: #ffffff;
}

.contact-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
